<div class="ui center aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal center aligned header">Connectez-vous à votre compte</h2>
    <form
      (ngSubmit)="userLogin(loginForm)"
      class="ui large form"
      #loginForm="ngForm"
    >
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input
              name="email"
              placeholder="Adresse Mail"
              [(ngModel)]="user.email"
              type="text"
              required
              #eMailVar="ngModel"
            />
          </div>
          <div class="ui pointing red basic label">Please enter a value</div>
        </div>

        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input
              name="password"
              placeholder="Mot de passe"
              type="password"
              required
              #eMPasswordVar="ngModel"
              [(ngModel)]="user.password"
            />
          </div>
        </div>
        <button class="fluid ui large teal submit button" type="submit">
          Se Connecter
        </button>
      </div>
      <div class="ui error message"></div>
    </form>
    <div class="ui message">
      Nouveau utilisateur?<a href=""> Veuillez contacter l'administrateur</a>
    </div>
  </div>
</div>
